
.month, .years, .error, .balance, .money, .inputted input{
    font-family: 'Roboto', sans-serif;
}
.reports{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.block-list{
    display: inline-flex;
    flex-direction: column;
    width: 300px;
    background-color: #008204;
    border-radius: 10px;
    padding: 10px 15px;
    color:#ffffff;
    margin: 10px;
}
.month, .years {
    display: inline-block;
}
.inputted {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}
.inputted input{
    padding-left: 5px;
    border: 0;
    background: #F6F6f6;
    width: 100%;
    margin-right: 5px;
    font-size: 1rem;
}
.inputted  input:focus{
    outline: none;
}
.inputted .controls{
    display: flex;
}
.inputted .minus{
    padding: 5px 12px !important;
}
.inputted .plus, .inputted .minus, .inputted .enter{
    cursor: pointer;
}
.inputted .plus, .inputted .minus{
    padding: 5px 10px;
    background-color: #36ab20;
    color: #ffffff;
    margin: 0 1px;
    transition: all 0.5s ease;
}
.inputted .plus:hover, .inputted .minus:hover{
    background-color: #808080
}
.inputted .enter{
    padding: 5px 10px;
    background-color: #0b3a03;
    color: #ffffff;
    margin-left: 1px;
}
.type-area{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #ffffff;
    color: #000000;
    font-weight: 900;
}
.type-area .balance{
    font-weight: 400;
    margin-right: 5px;
}
.data h3{
    margin-left: 3px;
    margin-right: 3px;
}
.money {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.money .increase, .money .reduction{
    width: 100%;
}
.money h3{
    text-align: center;
    margin: 0;
}
.money .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.money p {
    margin: 0;
}
.money i {
    display: none;
    cursor: pointer;
    margin-left: 5px;
    transition: all 0.5s ease;
    font-size: 13px;
}
.money i:hover{
    color: #ff1313;
}
.money .wrapper:hover i{
    display: block;
}
.total {
    display: flex;
}
.select {
    display: flex;
}

.select .list-month, .select .list-years{
    z-index: 10;
    padding: 10px 0;
    font-size: 18px;
}
.select .list-month li, .select .list-years li {
    transition: all 0.5s ease;
}
.select .list-month li:hover, .select .list-years li:hover {
    background: #808080;
    color: #ffffff;
}
.select .list-month, .select .list-years{
    margin: 0;
	padding: 0;
	width: 310px;
	border: 1px solid #cecece;
	border-top: none;
	display: none;
	position: absolute;
	background: #fff;
}
.select li {
	list-style: none;
	border-top: 1px dotted #e8e8e8;
	cursor: pointer;
	display: block;
	padding: 4px 15px 4px 25px;
	background-position: 10px -119px;
}
.select .month p{
    cursor: pointer;
    background-color: #008204;
    padding: 10px 15px;
    color: #ffffff;
    margin-right: 15px;
    transition: all 0.5s ease;
}
.select .years p{
    cursor: pointer;
    background-color: #008204;
    padding: 10px 15px;
    color: #ffffff;
    margin-right: 15px;
    transition: all 0.5s ease;
}
.select .month p:hover, .select .years p:hover{
    background-color: #808080;
}
.remove{
    display: none;
    color: #808080;
    cursor: pointer;
    transition: all 0.5s ease;
}
.remove:hover{
    color: rgb(58, 57, 57);
}
.add, .remove{
    font-size: 3rem;
    margin: 3px;
}
.add{
    display: flex;
    color: #808080;
    cursor: pointer;
    transition: all 0.5s ease;
}
.add:hover{
    color: rgb(58, 57, 57);
}
.block-list{
    position: relative;
}
.block-list .cross{
    cursor: pointer;
    color: #008204;
    position: absolute;
    top: -30px;
    right: 0;
    font-size: 25px;
    transition: all 0.5s ease;
}
.block-list .cross:hover{
    color: #808080;
}
.error p {
    display: none;
}
.error {
    color: red;
}
.error span{
    font-weight: 900;
}